html {
  height: 100%;
}
body {
  background-image: url("/assets/background2.jpg");
  background-position:center;
  background-repeat: no-repeat;
  height: 100%;
  margin: 0;
}
#main-container {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 546px;
  height: 606px;
  background-color: rgb(0, 183, 196);
  text-align: center;
}
#main-container h1 {
  color: white;
}
h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
#main-container p {
  color: white;
  text-align: center;
}
p {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
#main-container form input[type=text] {
  width: 409px;
  height: 35px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
